/******************************************************************
Site Name: 
Author: Guilt

Stylesheet: Shame
Description: Inspired by http://csswizardry.com/2013/04/shame-css/

Use this for quick fixes (ie non-LESS compiled) and hacks to be refactored at a later date. 
Loads after the other stylesheets in the header for easier overridding

******************************************************************/
