/******************************************************************
Site Name: DD9 Boiler 
Author: DD9
Stylesheet: Utilities
******************************************************************/

// Add an alphatransparency value to any background or border color (via Elyse Holladay)
// https://groups.google.com/forum/#!msg/bootstrap-users/5_Mx1rDyw6A/Y2qofS6ywGcJ
// use like this:  
// #translucent > .background(@red, .5);
//
#translucent {
  .background(@color: @white, @alpha: 1) {
    background-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
  }
  .border(@color: @white, @alpha: 1) {
    border-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
  }
}

.default-border-top{
  border-top: solid 1px @default-border-color;
}
.default-border-bottom{
  border-bottom: solid 1px @default-border-color;
}
.default-border-left{
  border-left: solid 1px @default-border-color;
}
.default-border-right{
  border-right: solid 1px @default-border-color;
}

.color-demo{

  .color-block{
    width: 100px;
    height: 100px;
    padding: 10px;
    float: left;
    margin: 0 10px 10px 0;
    color: white;
    position: relative;

  }

  .generate-color-divs(@boiler-palette, custom);
  .generate-color-divs(@bootstrap-grays, grays);
  .generate-color-divs(@bootstrap-palette, bootstrap);

}

.generate-color-divs(@colors, @nameprefix){

  .-(@i: length(@colors)) when (@i > 0) {
    @name: e(extract(@colors, @i));
    .color-block.@{nameprefix}-@{i} {
      @back-color-var: @@name;
      background-color: @back-color-var;
      &:before{
        color: white;
        font-weight: bold;
        font-size: 16px;
        content:"@{back-color-var}";
      }
      &:after {
        color: white;
        display: block;
        content:"@{name}";
      }
    }
    .-((@i - 1));
  } .-;
}

