/******************************************************************
Author: DD9
Stylesheet: Utilities
******************************************************************/

* {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

/* Images
================================================== */
img {
  max-width: 100%;
  height: auto;
}

/* Random helpful classes */
.relative{
  position:relative;
}

.last-child-no-bm {
  > *:last-child {
    margin-bottom: 0;
  }
}

/* Centered Columns
================================================== */
@media (min-width: @grid-float-breakpoint) { 
  /* centered columns styles */
  .row-centered {
    text-align:center;
  }
  .col-centered {
    display:inline-block;
    float:none;
    vertical-align: top;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-5px;
  }
  .col-centered.text-center {
    text-align: center;
  }
}

.col-centered { 
  text-align: left;
}

.col-centered.text-center { 
  text-align: center;
}

/* Class to make light text 
// (for use on dark background)
================================================== */
.content-light {
  color: #FFF;
  
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, 
  h5, .h5, h6, .h6, h6.subtitle, .h6.subtitle, a:not(.btn), .lead,
  blockquote footer, blockquote small, blockquote .small,
  .pullquote-content, .pullquote-cite {
    color: #fff;
  }

  .pullquote::before {
    color: rgba(255, 255, 255, 0.3);
  }
}

/* Add margins or padding
NOT to be overused.
Use ONLY for overrides, or in singular instances.
Otherwise, declare margin and padding in a 
reusable class that can also be styled at
various breakpoints. 
================================================== */
.mtop-0   { margin-top: 0px; }
.mtop-5   { margin-top: 5px; }
.mtop-10  { margin-top: 10px; }
.mtop-20  { margin-top: 20px; }
.mtop-30  { margin-top: 30px; }
.mtop-40  { margin-top: 40px; }
.mtop-50  { margin-top: 50px; }
.mtop-60  { margin-top: 60px; }
.mtop-70  { margin-top: 70px; }
.mtop-80  { margin-top: 80px; }
.mtop-90  { margin-top: 90px; }
.mtop-100 { margin-top: 100px; }

.mbottom-0   { margin-bottom: 0px; }
.mbottom-5   { margin-bottom: 5px; }
.mbottom-10  { margin-bottom: 10px; }
.mbottom-20  { margin-bottom: 20px; }
.mbottom-30  { margin-bottom: 30px; }
.mbottom-40  { margin-bottom: 40px; }
.mbottom-50  { margin-bottom: 50px; }
.mbottom-60  { margin-bottom: 60px; }
.mbottom-70  { margin-bottom: 70px; }
.mbottom-80  { margin-bottom: 80px; }
.mbottom-90  { margin-bottom: 90px; }
.mbottom-100 { margin-bottom: 100px; }

.ptop-0   { padding-top: 0px; }
.ptop-5   { padding-top: 5px; }
.ptop-10  { padding-top: 10px; }
.ptop-20  { padding-top: 20px; }
.ptop-30  { padding-top: 30px; }
.ptop-40  { padding-top: 40px; }
.ptop-50  { padding-top: 50px; }
.ptop-60  { padding-top: 60px; }
.ptop-70  { padding-top: 70px; }
.ptop-80  { padding-top: 80px; }
.ptop-90  { padding-top: 90px; }
.ptop-100 { padding-top: 100px; }

.pbottom-0   { padding-bottom: 0px; }
.pbottom-5   { padding-bottom: 5px; }
.pbottom-10  { padding-bottom: 10px; }
.pbottom-20  { padding-bottom: 20px; }
.pbottom-30  { padding-bottom: 30px; }
.pbottom-40  { padding-bottom: 40px; }
.pbottom-50  { padding-bottom: 50px; }
.pbottom-60  { padding-bottom: 60px; }
.pbottom-70  { padding-bottom: 70px; }
.pbottom-80  { padding-bottom: 80px; }
.pbottom-90  { padding-bottom: 90px; }
.pbottom-100 { padding-bottom: 100px; }


/* Borders
================================================== */
.default-border-top{
  border-top: solid 1px @default-border-color;
}
.default-border-bottom{
  border-bottom: solid 1px @default-border-color;
}
.default-border-left{
  border-left: solid 1px @default-border-color;
}
.default-border-right{
  border-right: solid 1px @default-border-color;
}

/* Assets page - outputs available colors
================================================== */
.color-demo{
  .color-block{
    width: 100px;
    height: 100px;
    padding: 10px;
    float: left;
    margin: 0 10px 10px 0;
    color: white;
    position: relative;
  }

  .generate-color-divs(@theme-palette, custom);
  .generate-color-divs(@bootstrap-grays, grays);
  .generate-color-divs(@bootstrap-palette, bootstrap);
}

.generate-color-divs(@colors, @nameprefix){
  .-(@i: length(@colors)) when (@i > 0) {
    @name: e(extract(@colors, @i));
    .color-block.@{nameprefix}-@{i} {
      @back-color-var: @@name;
      background-color: @back-color-var;
      &:before{
        color: white;
        font-weight: bold;
        font-size: 16px;
        content:"@{back-color-var}";
      }
      &:after {
        color: white;
        display: block;
        content:"@{name}";
      }
    }
    .-((@i - 1));
  } .-;
}

