/******************************************************************
Author: DD9
Stylesheet: Content Styles

These are the styles for posts, pages, archive, & blog index
******************************************************************/

/* General Content
================================================== */

.bg-img {
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: none;
  position: relative;

  > .container {
    position: relative;
  }
}

.bg-img-shaded::before {
  content: "";
  background-color:#000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0; 
  opacity: 0.4;
}

/* Centered Columns
================================================== */
@media (min-width: @grid-float-breakpoint) { 
  /* centered columns styles */
  .row-centered {
    text-align:center;
  }
  .col-centered {
    display:inline-block;
    float:none;
    vertical-align: top;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-5px;
  }
  .col-centered.text-center {
    text-align: center;
  }
}

.col-centered { 
  text-align: left;
}

.col-centered.text-center { 
  text-align: center;
}

// Entry Header
// -------------------------
#page-header-outer {
  background-color: @gray-lighter;

  .entry-header > *:last-child {
    margin-bottom: 0;
  }
}

// Entry Content
// -------------------------
.row-outer {
  padding: (@line-height * 2);
}

#page-content-outer {
}


/* Blog Content
================================================== */
.byline,
.entry-meta {
  color: @gray-light;
  margin: 0;
  font-size: @font-size-small;
  a {
    color: inherit;
  }
}

.entry-excerpt-meta {
  margin: 0 0 5px;
}

.entry-excerpt {
  > *:last-child {
    margin-bottom: 0;
  }
}


// Featured Image
// -------------------------
.featured-content {
  margin-bottom: 20px;
}

.featured-img-bg {
  height: 300px;
  background-width: 100% !important;
  background-size: cover !important;
  background-repeat: none !important;
  background-position: center center !important;
}

.featured-img { 
  img {
    width: 100%;
    height: auto;
  }
}

// Entry Footer
// -------------------------
.article-footer  {
  padding: 10px 0;
  border-top: 1px solid @gray-lighter;
  color: @gray-light;
  font-size: 12px;
  .commentnum {
  	text-align: right;
  	width: 30%;
  	a {
    	text-decoration: none;
    	color: @gray-light;
    	.transition(color .4s ease);
  	}
  	a:hover {
    	color: @gray-dark;
  	}
  }
  .tags {
  	width: 70%;
  }
  .post-link {
  	margin-top: -1px;
  	padding-left: 10px;
  	&:hover {
    	text-decoration: none;
  	}
  }
}

// Author Box
// -------------------------
.author-img {
  float: left;
  margin-right: @line-height;
}

.author-desc {
  font-size: 14px;
  line-height: 1.6;
  h5 {
    margin-bottom: (@line-height / 2);
  }
   @media (min-width: @screen-xs) {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
  }
}