/******************************************************************
Site Name: DD9 Boiler 
Author: DD9

Stylesheet: Form Styles

******************************************************************/

.form-control::-webkit-input-placeholder { color: @gray-light; }
.form-control:-moz-placeholder { color: @gray-light; }
.form-control::-moz-placeholder { color: @gray-light; }
.form-control:-ms-input-placeholder { color: @gray-light; }


.form-horizontal .control-label {
	text-align: left;
}

/* comment form title */
#comment-form-title {
}

/* cancel comment reply link */
#cancel-comment-reply {
	a {}
}

/* logged in comments */
.comments-logged-in-as {}

/* no comments */
.nocomments {
	margin: 0 20px 1.1em;
}

.required-items {
  color: @gray-light;
  font-size: 12px;
  font-style: oblique;
  margin-bottom: 10px;
}


// RESPONSIVE
// -------------------------

// Screens smaller than @screen-sm;
@media (max-width: @screen-sm-min) {
	.form-horizontal .control-label {
		display: block;
	}
}