/******************************************************************
Site Name: DD9 Boiler 
Author: DD9

Stylesheet: Content Styles

These are the styles for posts, pages, archive, & blog index
******************************************************************/



.hentry, #comments, .respond-form {
  margin: 0 0 20px 0;
}

.byline {
  color: @gray-light;
  margin: 0;
  font-size: 14px;
  time {}
}

// Sticky Indicator
// -------------------------
.sticky-ind {
  display: none;
}
.sticky .sticky-ind {display:inline !important;}


// Featured Image
// -------------------------
.featured-content {
  margin-bottom: 20px;
}

.featured-img-bg {
  height: 300px;
  background-width: 100% !important;
  background-size: cover !important;
  background-repeat: none !important;
  background-position: center center !important;
}

.featured-img { 
  img {
    width: 100%;
    height: auto;
  }
}

// Entry Footer
// -------------------------
.article-footer  {
  padding: 10px 0;
  border-top: 1px solid @gray-lighter;
  color: @gray-light;
  font-size: 12px;
  .commentnum {
  	text-align: right;
  	width: 30%;
  	a {
    	text-decoration: none;
    	color: @gray-light;
    	.transition(color .4s ease);
  	}
  	a:hover {
    	color: @gray-dark;
  	}
  }
  .tags {
  	width: 70%;
  }
  .post-link {
  	margin-top: -1px;
  	padding-left: 10px;
  	&:hover {
    	text-decoration: none;
  	}
  }
}