/******************************************************************
Site Name: DD9 Boiler 
Author: DD9

Stylesheet: Footer

******************************************************************/
@footer-background: @gray-dark;
@sub-floor-background: darken(@gray-dark, 10%);

#footer {



  border-top: 5px solid @brand-primary;
  background: @footer-background;
  padding-top: 30px;
  margin-top: 60px;
  clear: both;
  color: #aaa;
  h4 {
    color: #fff;
    text-transform: uppercase;
  }

  //Match the background color
  .site-credit{
    color: @sub-floor-background;
    cursor: default;
    &:hover{
      color: @sub-floor-background !important;
      text-decoration: none;
    }
  }


  a {color: #aaa;}
  li {
    padding: 7px 0;
    border-bottom: 1px dotted rgba(255,255,255,.2);
    margin: 0px 0px;
  }
  .widgettitle {
    margin: 0;
    padding: 0 0 15px 0;
    border-bottom: none;
  }
}

#footer-wrapper {
  margin-bottom: 30px;
}

#sub-floor {
  color: #aaa;
  background: @sub-floor-background;
  padding: 10px 0;
}



.copyright {
  text-align: center;
  @media (min-width: @screen-md) {
    text-align: left;
  }
}

.attribution {
  text-align: center;
  @media (min-width: @screen-md) {
    text-align: right;
  }
}

.widgetFooter {
  padding-bottom: 25px;
  @media (min-width: @screen-md) {
    padding-bottom: 0px;
  }
}